<h1>Rappers#new</h1>
<p>Find me in app/views/rappers/new.html.erb</p>


<%if flash[:message]%>
    <h3><%=flash[:message]%></h3>
<%end%>

<%=form_for @rapper do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%>
    <%=f.label :age%>
    <%=f.number_field :age%>
    <%=f.submit "submit"%>
<%end%>



