<h1>Rappers#new</h1>
<p>Find me in app/views/rappers/new.html.erb</p>

<%=form_tag "/rappers" do%>
    <%=label_tag :name%>
    <%=text_field_tag :"rapper[name]"%>
    <%=label_tag :age%>
    <%=number_field_tag :age%>
    <%=submit_tag :age%>
<%end%>